.userContainer{
    display: grid;
    grid-template-areas:
            'R W';
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 8fr;
    align-items: center;
    border: 1px solid #000;
    text-align: center;
    margin: 40px;
    border-radius: 30px;
    padding: 10px;
}
.User{
    grid-area: R;
}
.userImg img{
    grid-area: r;
    border-radius: 50px;
    width: 70px;
    padding-top: 20px;
}
.userButton{
    padding-bottom: 20px;
}
.userInfo{
    grid-area: W;
    display: grid;
    grid-template-areas:
    'r n s l'
}
.userName{grid-area: n}
.userStatus{grid-area: s}
.userLocation{
    grid-area: l;
}

.PageNumber{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.selectedPage{
    text-decoration: none;
    color: #ff4a1d;
    cursor: pointer;
}
