.app-wrapper {
    display: grid;
    max-width: 1800px;
    margin: 0 auto;
    overflow: hidden;
    grid-template-areas:
        "h h"
        "n c";
    grid-template-rows: 300px 1fr;
    grid-template-columns: 2fr 10fr;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 100px;
    position: relative;
    top: -20px;
}

.app-wrapper::after {
    background-image: url(./BG.png);
    content: "";
    width: 100%;
    margin: 0 auto;
    height: 1000%;
    top: -230px;
    right: 0;
    position: absolute;
}
.app-wrapper::before {
    background-color:#f1f2f6;
    content: "";
    width: 1000%;
    margin: 0 auto;
    height: 1000%;
    right: 0;
    position: absolute;
    z-index: -1;
}